body {
  background-color: black;
  cursor: default;
  overflow-y: hidden;
}

@font-face {
  font-family: suissemono;
  src: url(suissemono.otf)
}

#warning-message {
  display: none;
}

.shadows {
  font-size: 3rem;
  color: #141414;
  font-family: essonnes-display;
  letter-spacing: 3vw;
  line-height: 3.3vh;
  width: 90vw;
  position: absolute;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  left: 51.5%;
  transform: translate(-50%, -50%);
  transition: opacity 7s;
  z-index: -5000;
  opacity: 0;
}

body.loaded .shadows {
  opacity: 1;
}

#shadows1 {
  color: #1B1B1B;
}

#shadows1.animated {
  animation: change1 10s infinite;
  animation-delay: 1s;
}

@keyframes change1 {
  0% {color: #1b1b1b}
  50% {color: #000000}
  100% {color: #1b1b1b}
}

#shadows2 {
  color: #393939;
}

#shadows2.animated {
  animation: change2v2 3s,
  change2 23s infinite;
  animation-delay: 1s, 4s;

}

@keyframes change2v2 {
  0% {color: #393939}
  100% {color: #000000}
}

@keyframes change2 {
  0% {color: #000000}
  50% {color: #1b1b1b}
  100% {color: #000000}
}

#shadows3 {
  color: #595959;
}

#shadows3.animated {
  animation: change3v2 3s,
  change3 17s infinite;
  animation-delay: 1s, 4s;
}

@keyframes change3v2 {
  0% {color: #595959}
  100% {color: #000000}
}

@keyframes change3 {
  0% {color: #000000}
  50% {color: #1b1b1b}
  100% {color: #000000}
}

#shadows4 {
  color: #9B9B9B;
}

#shadows4.animated {
  animation: change4v2 3s,
  change4 25s infinite;
  animation-delay: 1s, 4s;
}

@keyframes change4v2 {
  0% {color: #9b9b9b}
  100% {color: #000000}
}

@keyframes change4 {
  0% {color: #000000}
  50% {color: #1b1b1b}
  100% {color: #000000}
}

#shadows5 {
  color: #ffffff;
  transition: ease 2s;
}

#shadows5:hover {
  color: #1b1b1b;
  transition: ease 2s;
  cursor: pointer;
}

#shadows5.animated {
  animation: change5v2 3s,
  change5 20s infinite;
  animation-delay: 1s, 4s;
}

@keyframes change5v2 {
  0% {color: #1b1b1b}
  100% {color: #000000}
}

@keyframes change5 {
  0% {color: #000000}
  50% {color: #1b1b1b}
  100% {color: #000000}
}

#shadows6 {
  color: #9B9B9B;
}

#shadows6.animated {
  animation: change6v2 3s,
  change6 13s infinite;
  animation-delay: 1s, 4s;
}

@keyframes change6v2 {
  0% {color: #9b9b9b}
  100% {color: #000000}
}

@keyframes change6 {
  0% {color: #000000}
  50% {color: #1b1b1b}
  100% {color: #000000}
}

#shadows7 {
  color: #595959;
}

#shadows7.animated {
  animation: change7v2 3s,
  change7 15s infinite;
  animation-delay: 1s, 4s;
}

@keyframes change7v2 {
  0% {color: #595959}
  100% {color: #000000}
}

@keyframes change7 {
  0% {color: #000000}
  50% {color: #1b1b1b}
  100% {color: #000000}
}

#shadows8 {
  color: #393939;
  margin: 0;
  font-size: 3rem;
}

#shadows8.animated {
  animation: change8v2 3s,
  change8 20s infinite;
  animation-delay: 1s, 4s;
  font-size: 3rem;
}

@keyframes change8v2 {
  0% {color: #393939}
  100% {color: #000000}
}

@keyframes change8 {
  0% {color: #000000}
  50% {color: #1b1b1b}
  100% {color: #000000}
}

#shadows9 {
  color: #1B1B1B;
  font-size: 3rem;
}

#shadows9.animated {
  animation: change9v2 3s,
  change9 25s infinite;
  animation-delay: 1s, 4s;
  font-size: 3rem;
}

@keyframes change9v2 {
  0% {color: #1b1b1b}
  100% {color: #000000}
}

@keyframes change9 {
  0% {color: #000000}
  50% {color: #1b1b1b}
  100% {color: #000000}
}

.door {
  color: #9b9b9b;
  font-family: suissemono;
  font-size: 2.5vh;
  line-height: 5.3vh;
  text-align: justify;
  position: absolute;
  width: 90vw;
  height: 48vh;
  top: 80%;
  left: 5%;
  transform: translate(-50%, -50%);
  overflow-x: auto;
  overflow-y: hidden;
  z-index: 0;
  display: none;
}

.door.animated {
  animation: doordoordoor, slide-top both;
  animation-duration: 6s, 5s;
  animation-delay: 0s, 4s;
  z-index: 0;
  display: block;
}

@keyframes doordoordoor {
  0% {opacity: 0}
  100% {opacity: 100}
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-54vh);
            transform: translateY(-54vh);
  }
}

.door::-webkit-scrollbar-track {
    background-color: transparent;
}

.door::-webkit-scrollbar {
    height: 2px;
    background-color: transparent;
}

.door::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0.5rem;
}

.kids {
  display: inline-block;
  white-space: normal;
}

#doorv1 {
  background-color: rgba(22,22,22,0.7);
  width: 166vw;
  height: 50vh;
}

#text1 {
  background-color: rgba(24,24,24,0.4);
  width: 50vw;
  height: 50vh;
  margin-top: -1.5vh;
  padding-left: 1vw;
  padding-right: 1vw;
  position: relative;
}

#text2 {
  background-color: rgba(35,35,35,0.5);
  width: 50vw;
  height: 50vh;
  margin-top: -1.5vh;
  margin-left: 5vw;
  padding-left: 1vw;
  padding-right: 1vw;
  position: absolute;
}

#text3 {
  background-color: rgba(24,24,24,0.4);
  width: 50vw;
  height: 50vh;
  margin-top: -1.5vh;
  margin-left: 62vw;
  padding-left: 1vw;
  padding-right: 1vw;
  position: absolute;
}

#door2 {
  background-color: rgba(22,22,22,0.7);
  width: 166vw;
  height: 50vh;
  position: absolute;
  margin-top: -50vh;
  margin-left: 186vw;
}

#text4 {
  background-color: rgba(35,35,35,0.5);
  width: 50vw;
  height: 50vh;
  margin-top: -1.5vh;
  padding-left: 1vw;
  padding-right: 1vw;
  position: absolute;
}

#text5 {
  background-color: rgba(24,24,24,0.4);
  width: 50vw;
  height: 50vh;
  margin-top: -1.5vh;
  margin-left: 57vw;
  padding-left: 1vw;
  padding-right: 1vw;
  position: absolute;
}

#text6 {
  background-color: rgba(35,35,35,0.5);
  width: 50vw;
  height: 50vh;
  margin-top: -1.5vh;
  margin-left: 114vw;
  padding-left: 1vw;
  padding-right: 1vw;
  position: absolute;
}

#door3 {
  background-color: rgba(22,22,22,0.7);
  width: 280vw;
  height: 50vh;
  position: absolute;
  margin-top: -50vh;
  margin-left: 372vw;
}

#text7 {
  background-color: rgba(24,24,24,0.4);
  width: 50vw;
  height: 50vh;
  margin-top: -1.5vh;
  padding-left: 1vw;
  padding-right: 1vw;
  position: absolute;
}

#text8 {
  background-color: rgba(35,35,35,0.5);
  width: 50vw;
  height: 50vh;
  margin-top: -1.5vh;
  margin-left: 57vw;
  padding-left: 1vw;
  padding-right: 1vw;
  position: absolute;
}

#text9 {
  background-color: rgba(24,24,24,0.4);
  width: 50vw;
  height: 50vh;
  margin-top: -1.5vh;
  margin-left: 114vw;
  padding-left: 1vw;
  padding-right: 1vw;
  position: absolute;
}

#text10 {
  background-color: rgba(35,35,35,0.5);
  width: 50vw;
  height: 50vh;
  margin-top: -1.5vh;
  margin-left: 171vw;
  padding-left: 1vw;
  padding-right: 1vw;
  position: absolute;
}

#text11 {
  background-color: rgba(24,24,24,0.4);
  width: 50vw;
  height: 50vh;
  margin-top: -1.5vh;
  margin-left: 228vw;
  padding-left: 1vw;
  padding-right: 1vw;
  position: absolute;
}

#door4 {
  background-color: rgba(22,22,22,0.7);
  width: 166vw;
  height: 50vh;
  position: absolute;
  margin-top: -50vh;
  margin-left: 672vw;
}

#text12 {
  background-color: rgba(35,35,35,0.5);
  width: 50vw;
  height: 50vh;
  margin-top: -1.5vh;
  padding-left: 1vw;
  padding-right: 1vw;
  position: absolute;
}

#text13 {
  background-color: rgba(24,24,24,0.4);
  width: 50vw;
  height: 50vh;
  margin-top: -1.5vh;
  margin-left: 57vw;
  padding-left: 1vw;
  padding-right: 1vw;
  position: absolute;
}

#text14 {
  background-color: rgba(35,35,35,0.5);
  width: 50vw;
  height: 50vh;
  margin-top: -1.5vh;
  margin-left: 114vw;
  padding-left: 1vw;
  padding-right: 1vw;
  position: absolute;
}

#door5 {
  background-color: rgba(22,22,22,0.7);
  width: 109vw;
  height: 50vh;
  position: absolute;
  margin-top: -50vh;
  margin-left: 858vw;
}

#text15 {
  background-color: rgba(24,24,24,0.4);
  width: 50vw;
  height: 50vh;
  margin-top: -1.5vh;
  padding-left: 1vw;
  padding-right: 1vw;
  position: absolute;
}

#text16 {
  background-color: rgba(35,35,35,0.5);
  width: 50vw;
  height: 50vh;
  margin-top: -1.5vh;
  margin-left: 57vw;
  padding-left: 1vw;
  padding-right: 1vw;
  position: absolute;
}

#door6 {
  background-color: rgba(22,22,22,0.7);
  width: 52vw;
  height: 50vh;
  position: absolute;
  margin-top: -50vh;
  margin-left: 987vw;
}

#text17 {
  background-color: rgba(24,24,24,0.4);
  width: 50vw;
  height: 50vh;
  margin-top: -1.5vh;
  padding-left: 1vw;
  padding-right: 1vw;
  position: absolute;
}

#door7 {
  background-color: rgba(22,22,22,0.7);
  width: 223vw;
  height: 50vh;
  position: absolute;
  margin-top: -50vh;
  margin-left: 1059vw;
}

#text18 {
  background-color: rgba(35,35,35,0.5);
  width: 50vw;
  height: 50vh;
  margin-top: -1.5vh;
  padding-left: 1vw;
  padding-right: 1vw;
  position: absolute;
}

#text19 {
  background-color: rgba(24,24,24,0.4);
  width: 50vw;
  height: 50vh;
  margin-top: -1.5vh;
  margin-left: 57vw;
  padding-left: 1vw;
  padding-right: 1vw;
  position: absolute;
}

#text20 {
  background-color: rgba(35,35,35,0.5);
  width: 50vw;
  height: 50vh;
  margin-top: -1.5vh;
  margin-left: 114vw;
  padding-left: 1vw;
  padding-right: 1vw;
  position: absolute;
}

#text21 {
  background-color: rgba(24,24,24,0.4);
  width: 50vw;
  height: 50vh;
  margin-top: -1.5vh;
  margin-left: 171vw;
  padding-left: 1vw;
  padding-right: 1vw;
  position: absolute;
}

#door8 {
  background-color: rgba(22,22,22,0.7);
  width: 109vw;
  height: 50vh;
  position: absolute;
  margin-top: -50vh;
  margin-left: 1302vw;
}

#text22 {
  background-color: rgba(35,35,35,0.5);
  width: 50vw;
  height: 50vh;
  margin-top: -1.5vh;
  padding-left: 1vw;
  padding-right: 1vw;
  position: absolute;
}

#text23 {
  background-color: rgba(24,24,24,0.4);
  width: 50vw;
  height: 50vh;
  margin-top: -1.5vh;
  margin-left: 57vw;
  padding-left: 1vw;
  padding-right: 1vw;
  position: absolute;
}

#door9 {
  background-color: rgba(22,22,22,0.7);
  width: 166vw;
  height: 50vh;
  position: absolute;
  margin-top: -50vh;
  margin-left: 1431vw;
}

#text24 {
  background-color: rgba(35,35,35,0.5);
  width: 50vw;
  height: 50vh;
  margin-top: -1.5vh;
  padding-left: 1vw;
  padding-right: 1vw;
  position: absolute;
}

#text25 {
  background-color: rgba(24,24,24,0.4);
  width: 50vw;
  height: 50vh;
  margin-top: -1.5vh;
  margin-left: 57vw;
  padding-left: 1vw;
  padding-right: 1vw;
  position: absolute;
}

#text26 {
  background-color: rgba(35,35,35,0.5);
  width: 50vw;
  height: 50vh;
  margin-top: -1.5vh;
  margin-left: 114vw;
  padding-left: 1vw;
  padding-right: 1vw;
  position: absolute;
}

#door10 {
  background-color: rgba(22,22,22,0.7);
  width: 166vw;
  height: 50vh;
  position: absolute;
  margin-top: -50vh;
  margin-left: 1617vw;
}

#text27 {
  background-color: rgba(24,24,24,0.4);
  width: 50vw;
  height: 50vh;
  margin-top: -1.5vh;
  padding-left: 1vw;
  padding-right: 1vw;
  position: absolute;
}

#text28 {
  background-color: rgba(35,35,35,0.5);
  width: 50vw;
  height: 50vh;
  margin-top: -1.5vh;
  margin-left: 57vw;
  padding-left: 1vw;
  padding-right: 1vw;
  position: absolute;
}

#text29 {
  background-color: rgba(24,24,24,0.4);
  width: 50vw;
  height: 50vh;
  margin-top: -1.5vh;
  margin-left: 114vw;
  padding-left: 1vw;
  padding-right: 1vw;
  position: absolute;
}

#door11 {
  background-color: rgba(22,22,22,0.7);
  width: 166vw;
  height: 50vh;
  position: absolute;
  margin-top: -50vh;
  margin-left: 1803vw;
}

#text30 {
  background-color: rgba(35,35,35,0.5);
  width: 50vw;
  height: 50vh;
  margin-top: -1.5vh;
  padding-left: 1vw;
  padding-right: 1vw;
  position: absolute;
}

#text31 {
  background-color: rgba(24,24,24,0.4);
  width: 50vw;
  height: 50vh;
  margin-top: -1.5vh;
  margin-left: 57vw;
  padding-left: 1vw;
  padding-right: 1vw;
  position: absolute;
}

#text32 {
  background-color: rgba(35,35,35,0.5);
  width: 50vw;
  height: 50vh;
  margin-top: -1.5vh;
  margin-left: 114vw;
  padding-left: 1vw;
  padding-right: 1vw;
  position: absolute;
}

#door12 {
  background-color: rgba(22,22,22,0.7);
  width: 166vw;
  height: 50vh;
  position: absolute;
  margin-top: -50vh;
  margin-left: 1989vw;
}

#text33 {
  background-color: rgba(24,24,24,0.4);
  width: 50vw;
  height: 50vh;
  margin-top: -1.5vh;
  padding-left: 1vw;
  padding-right: 1vw;
  position: absolute;
}

#text34 {
  background-color: rgba(35,35,35,0.5);
  width: 50vw;
  height: 50vh;
  margin-top: -1.5vh;
  margin-left: 57vw;
  padding-left: 1vw;
  padding-right: 1vw;
  position: absolute;
}

#text35 {
  background-color: rgba(24,24,24,0.4);
  width: 50vw;
  height: 50vh;
  margin-top: -1.5vh;
  margin-left: 114vw;
  padding-left: 1vw;
  padding-right: 1vw;
  position: absolute;
}

.shadowsv2 {
  font-size: 7.3vh;
  color: #141414;
  font-family: essonnes-display;
  letter-spacing: 2.8vw;
  line-height: 3.3vh;
  width: 90vw;
  position: absolute;
  text-align: center;
  transition: opacity 7s;
  background-color: black;
  top: 80.5%;
  left: 50%;
  transform: translate(-50%, -10%);
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-left: 2.5rem;
  opacity: 0;
  z-index: 1000;
}

body.loaded .shadowsv2 {
  opacity: 1;
}


/* Smartphones (landscape) ----------- */
@media only screen
and (min-height : 280px)
and (max-height : 460px)
and (orientation : landscape) {

  #warning-message {
    display: none;
  }

  .shadows {
    font-size: 6vh;
    letter-spacing: 3vw;
    line-height: 4vh;
  }

  .shadowsv2 {
    font-size: 6vh;
    letter-spacing: 3vw;
    line-height: 4vh;
    top: 73%;
    left: 50%;
    transform: translate(-51.8%, 0);
  }

  .door {
    font-size: 2.5vh;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen
and (min-width : 280px)
and (max-width : 500px)
and (orientation : portrait) {

  #warning-message {
    background-color: black;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    z-index: 2000;
    display: block;
  }

  #message {
    font-family: suissemono;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 5vh;
    width: 50vh;
    font-size: 1.5vh;
    padding: 0;
  }

  .shadows {
    font-size: 2vh;
    letter-spacing: 3vw;
    line-height: 7vh;
  }

  .shadowsv2 {
    font-size: 2vh;
    letter-spacing: 3vw;
    line-height: 7vh;
  }

  .door {
    font-size: 1.3vh;
    line-height: 3vh;
  }
}

/* iPads (landscape) ----------- */
@media only screen
and (min-width : 1023px)
and (max-width : 1367px)
and (orientation : landscape) {

  #warning-message {
    display: none;
  }

  .shadows {
    font-size: 4.6vh;
    letter-spacing: 3vw;
    line-height: 5.5vh;
  }

  .shadowsv2 {
    font-size: 4.6vh;
    letter-spacing: 3vw;
    line-height: 5.5vh;
    top: 74%;
    left: 50%;
    transform: translate(-50.5%, 0);
  }

  .door {
    font-size: 2vh;
    line-height: 5vh;
  }
}

/* iPads (portrait) ----------- */
@media only screen
and (min-height : 1023px)
and (max-height : 1367px)
and (orientation : portrait) {

  #warning-message {
    background-color: black;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    z-index: 2000;
    display: block;
  }

  #message {
    font-family: suissemono;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 5vh;
    width: 50vh;
    font-size: 1.5vh;
    padding: 0;
  }

  .shadows {
    font-size: 2.6vh;
    letter-spacing: 3vw;
    line-height: 6vh;
  }

  .shadowsv2 {
    font-size: 2.6vh;
    letter-spacing: 3vw;
    line-height: 6vh;
  }

  .door {
    font-size: 1.5vh;
    line-height: 4vh;
  }
}
