body {
  background-color: #FFEEDD;
}

#container {
  width: 66vw;
  height: 66vh;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.red {
  width: 30vw;
  height: 29vh;
}

#r1 {
  background-color: #3A606E;
  margin-left: 3vh;
  margin-top: 2vh;
  border-radius: 0vw 5vw 0vw 5vw;
}

#r2 {
  background-color: #607B7D;
  position: absolute;
  margin-left: 34vw;
  margin-top: -29vh;
  border-radius: 5vw 0vw 5vw 0vw;
}

#r3 {
  background-color: #828E82;
  position: absolute;
  margin-left: 3vh;
  margin-top: 4vh;
  border-radius: 5vw 0vw 5vw 0vw;
}

#r4 {
  background-color: #AAAE8E;
  position: absolute;
  margin-left: 34vw;
  margin-top: 4vh;
  border-radius: 0vw 5vw 0vw 5vw;
}
