body {
  margin: 0;
  overflow: hidden;
}

.container {
  display: flex;
  flex: 1 1 auto;
  width: 100vw;
  height: 100vh;
  background-color: black;
  margin: 0;
  padding: 0;
}

#rainy {
  background-image: linear-gradient(#000, #000, #103141);
  width: 33.3vw;
  z-index: 150;
}

#rainpic {
  height: 120vh;
  width: auto;
  margin-left: -20rem;
  margin-top: -10rem;
  mix-blend-mode: screen;
  animation: slide-br 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation-iteration-count: infinite;
  display: none;
}

#rainpic.show {
  display: block;
}

@keyframes slide-br {
  0% {transform: translateY(0) translateX(0);}
  100% {transform: translateY(50px) translateX(50px);}
}

#cloudy {
  background-image: linear-gradient(#4E5055, #1D1E20);
  display: flex;
  width: 33.3vw;
  z-index: 150;
}

#cloud-circle {
  background: ;
  border-radius: 50%;
  filter: url(#filter);
  box-shadow: 200px 200px 30vw 0px #fff;
  width: 30vw;
  height: 100vh;
  margin-left: -20rem;
  z-index: 100;
  display: none;
  animation: slide-in-right 10s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#cloud-circle.show {
  display: block;
}

@keyframes slide-in-right {
 0% {
   -webkit-transform: translateX(1000px);
           transform: translateX(1000px);
   opacity: 0;
 }
 100% {
   -webkit-transform: translateX(0);
           transform: translateX(0);
   opacity: 1;
 }
}

#snowy {
  background-image: linear-gradient(#040C10, #122F40, #ADE0FF);
  display: flex;
  width: 33.3vw;
  overflow-y: hidden;
  z-index: 1000;
}

.snow {
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  background: rgba(255, 255, 255, 0);
  border-radius: 50%;
  filter: blur(3px);
  display: none;
}

.snow.show {
  display: block;
}

.snoww {
  position: absolute;
  width: 1rem;
  height: 1rem;
  background: rgba(255, 255, 255, 0);
  border-radius: 50%;
  filter: blur(7px);
  display: none;
}

.snoww.show {
  display: block;
}

@keyframes glow {
  0% { background: rgba(255, 255, 255, 0); }
  50% { background: rgba(255, 255, 255, 1.0); }
  100% { background: rgba(255, 255, 255, 0); }
}

@keyframes s1 {
  0% {left: 68.68%; top: 0%}
  100% {left: 68.68%; top: 100%}
}

@keyframes s2 {
  0% {left: 72.84%; top: 0%}
  100% {left: 72.84%; top: 100%}
}

@keyframes s3 {
  0% {left: 77%; top: 0%}
  100% {left: 77%; top: 100%}
}

@keyframes s4 {
  0% {left: 81.16%; top: 0%}
  100% {left: 81.16%; top: 100%}
}

@keyframes s5 {
  0% {left: 85.32%; top: 0%}
  100% {left: 85.32%; top: 100%}
}

@keyframes s6 {
  0% {left: 89.48%; top: 0%}
  100% {left: 89.48%; top: 100%}
}

@keyframes s7 {
  0% {left: 93.64%; top: 0%}
  100% {left: 93.64%; top: 100%}
}

@keyframes s8 {
  0% {left: 97.8%; top: 0%}
  100% {left: 97.8%; top: 100%}
}

#snow1 {
  left: 68.68%;
  animation-name: glow, s1;
  animation-duration: 4s, 15s;
  animation-timing-function: ease-in-out, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-delay: 3s, 3s;
}

#snow2 {
  left: 72.84%;
  animation-name: glow, s2;
  animation-duration: 4s, 20s;
  animation-timing-function: ease-in-out, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-delay: 10s, 10s;
}

#snow3 {
  left: 77%;
  animation-name: glow, s3;
  animation-duration: 4s, 25s;
  animation-timing-function: ease-in-out, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-delay: 4s, 4s;
}

#snow4 {
  left: 81.16%;
   animation-name: glow, s4;
  animation-duration: 4s, 15s;
  animation-timing-function: ease-in-out, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-delay: 7s, 7s;
}

#snow5 {
  left: 85.32%;
  animation-name: glow, s5;
  animation-duration: 4s, 10s;
  animation-timing-function: ease-in-out, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-delay: 15s, 15s;
}

#snow6 {
  left: 89.48%;
  animation-name: glow, s6;
  animation-duration: 4s, 20s;
  animation-timing-function: ease-in-out, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-delay: 8s, 8s;
}

#snow7 {
  left: 93.64%;
  animation-name: glow, s7;
  animation-duration: 4s, 25s;
  animation-timing-function: ease-in-out, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-delay: 13s, 13s;
}

#snow8 {
  left: 97.8%;
   animation-name: glow, s8;
  animation-duration: 4s, 13s;
  animation-timing-function: ease-in-out, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-delay: 25s, 25s;
}

.button {
  display: flex;
  align-items: center;
  position: absolute;
}
