body {
  background-color: #04082D;
  margin: 0;
  overflow-x: hidden;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

body::-webkit-scrollbar {
    width: 0.5rem;
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0.5rem;
}

@font-face {
  font-family: playfair;
  src: url(playfairbolditalic.ttf)
}

@font-face {
  font-family: callingcode;
  src: url(callingcode.otf)
}

#menu {
  background-color: ;
  padding: 0;
  margin-top: 0;
  height: 12vh;
  width: 100vw;
  z-index: 100;
  position: fixed;
}

#menu2 {
  display: none;
}

#plushie {
  padding: 0;
  margin-left: 3vw;
  margin-top: 0vh;
  margin-bottom: 0;
  transform: rotate(-2deg);
  font-family: playfair;
  font-size: 3rem;
  color: #F5BA47;
}

#plushie a:link {
  color: #F5BA47;
}
#plushie a:visited {
  color: #F5BA47;
  text-decoration: none;
}
#plushie a:hover {
   color: white;
}

#plushie2 {
  display: none;
}

.twinkle {
  height: 1.75rem;
  position: absolute;
}

#twinkle1 {
  margin-left: 2.1vw;
  animation-name: spin;
  delay: 0.5s;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

#twinkle2 {
  margin-left: 24.2vw;
  margin-top: -6.5vh;
  animation-name: spin2;
  animation-duration: 4s;
  animation-delay: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes spin2 {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.tabs {
  margin-top: -3.7vh;
  position: absolute;
  font-family: callingcode;
  font-size: 1.5rem;
  color: white;
}

#xs {
  margin-left: 31vw;
}

#xs a:link {
  color: white;
}
#xs a:visited {
  color: white;
}
#xs a:hover {
   color: #8188CB;
}

#small {
  margin-left: 51vw;
}

#small a:link {
  color: white;
}
#small a:visited {
  color: white;
}
#small a:hover {
   color: #8188CB;
}

#med {
  margin-left: 71vw;
}

#med a:link {
  color: white;
}
#med a:visited {
  color: white;
}
#med a:hover {
   color: #8188CB;
}

#large {
  margin-left: 91vw;
}

#large a:link {
  color: white;
}
#large a:visited {
  color: white;
}
#large a:hover {
  color: #8188CB;
}

.button {
  width: 3vh;
  height: 3vh;
  float: right;
  margin-top: 12vh;
  margin-right: 3vw;
  cursor: pointer;
}

.buttons {
  display: none;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 1vh;
  height: 300vh;
  width: 100vw;
  overflow-y: auto;
  position: relative;
  z-index: 50;
}

.container.list {
  margin: 0;
  padding-top: 3vh;
  height: 1500vh;
  display: grid;
  grid-template-columns: repeat(1, 100vw);
  grid-template-rows: auto;
  position: relative;
  grid-gap: 3.5rem;
}

.starcontainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 1vh;
  height: 300vh;
  width: 100vw;
  overflow-y: auto;
  position: absolute;
  margin-top: -300vh;
}

.starcontainer.list {
  display: grid;
  grid-template-columns: repeat(1, 100vw);
  height: 1500vh;
  width: 100vw;
  overflow-y: auto;
  position: absolute;
  margin-top: -1500vh;
}

.starburst {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  display: inline-block;
  height: 30vh;
}

.blue {
  animation-name: bluescale;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes bluescale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.yellow1 {
  animation-name: yellow1scale;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes yellow1scale {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
  }
}

.white {
  animation-name: whitescale;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes whitescale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.yellow2 {
  animation-name: yellow2scale;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes yellow2scale {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
  }
}

.starburst.list {
  width: auto;
  height: 15rem;
  margin: auto;
  display: grid;
  grid-row: 1/6;
}

.elements {
  display: grid;
  position: relative;
}

.elements.list {
  display: grid;
  position: relative;
  grid-template-columns: 25vw 2rem 1fr;
  grid-column: 1/6;
}

.toy-container {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  position: relative;
}

.toy-container.list {
  grid-template-columns: 25vw 2rem 1fr;
}

.toy-image {
  width: auto;
  height: 8rem;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  display: grid;
}

.toy-image:hover {
  animation-name: toyscale;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes toyscale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.toy-image.list {
  width: auto;
  height: 8rem;
  margin: auto;
  display: grid;
  grid-row: 1/6;
}

.toy-name {
  display: none;
}

.toy-name.list {
  margin: 0;
  font-family: callingcode;
  color: white;
  font-weight: normal;
  font-size: 3.5rem;
  display: grid;
  grid-column: 3/3;
}

.toy-size {
  display: none;
}

.toy-size.list {
  margin: 0;
  font-family: callingcode;
  color: white;
  font-size: 1.5rem;
  grid-column: 3/3;
  display: grid;
  height: 2.5rem;
}

.toy-color {
  display: none;
}

.toy-color.list {
  margin: 0;
  font-family: callingcode;
  color: white;
  font-size: 1.5rem;
  grid-column: 3/3;
  display: grid;
  height: 2.5rem;
}

.toy-species {
  display: none;
}

.toy-species.list {
  margin: 0;
  font-family: callingcode;
  color: white;
  font-size: 1.5rem;
  grid-column: 3/3;
  display: grid;
  height: 2.5rem;
}

.toy-universe {
  display: none;
}

.toy-universe.list {
  margin: 0;
  font-family: callingcode;
  color: white;
  font-size: 1.5rem;
  grid-column: 3/3;
  display: grid;
  height: 2.5rem;
}

/* Smartphones (portrait) ----------- */
@media only screen
and (min-width : 280px)
and (max-width : 500px)
and (orientation : portrait) {
  #menu {
    display: none;
  }

  #plushie2 {
    text-align: center;
    display: block;
    margin-top: 1vh;
    font-family: playfair;
    font-size: 2.5rem;
    color: #F5BA47;
  }

  #plushie2 a:link {
    color: #F5BA47;
  }
  #plushie2 a:visited {
    color: #F5BA47;
    text-decoration: none;
  }
  #plushie2 a:hover {
     color: white;
  }

  #menu2 {
    display: block;
    text-align: center;
    height: 10vh;
    width: 100vw;
    z-index: 100;
  }

  .tabs1 {
    display: inline-block;
    font-family: callingcode;
    font-size: 1.5rem;
    color: white;
    padding-right: 10vw;
    }

    .tabs1 a:link {
      color: white;
    }
    .tabs1 a:visited {
      color: white;
    }
    .tabs1 a:hover {
      color: #8188CB;
    }

  .buttons {
    display: inline-block;
    width: 3vh;
    height: 3vh;
    padding: 1.5vw;
    padding-bottom: 0;
    padding-top: 0;
  }

  .button {
    display: none;
  }

  .container {
    grid-template-columns: repeat(3, 1fr);
    height: 200vh;
  }

  .container.list {
    grid-template-columns: repeat(1, 100vw);
    grid-gap: 2rem;
    height: 200vh;
  }

  .starcontainer {
    display: none;
  }

  .starcontainer.list {
    display: none;
  }

  .elements {
    display: none;
  }

  .elements.list {
    display: none;
  }

  .starburst {
    display: none;
  }

  .starburst.list {
    display: none;
  }

  .toy-container {
    margin: auto;
    display: grid;
    position: relative;
  }

  .toy-container.list {
    grid-template-columns: 8.5rem 1rem 50vw;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    margin-right: 0.75rem;
    margin-left: 0.75rem;
  }

  .toy-image {
    width: 3rem;
    height: auto;
  }

  .toy-image.list {
    width: auto;
    height: 5rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-row: 1/6;
  }

  .toy-name.list {
    display: block;
    margin: 0;
    font-family: callingcode;
    color: white;
    font-size: 1.5rem;
    grid-column: 3/6;
  }

  .toy-size.list {
    display: block;
    margin: 0;
    font-family: callingcode;
    color: white;
    font-size: 1rem;
    grid-column: 3/6;
  }

  .toy-color.list {
    display: block;
    margin: 0;
    font-family: callingcode;
    color: white;
    font-size: 1rem;
    grid-column: 3/6;
  }

  .toy-species.list {
    display: block;
    margin: 0;
    font-family: callingcode;
    color: white;
    font-size: 1rem;
    grid-column: 3/6;
  }

  .toy-universe.list {
    display: block;
    margin: 0;
    font-family: callingcode;
    color: white;
    font-size: 1rem;
    grid-column: 3/6;
  }

}

/* iPads (portrait) ----------- */
@media only screen
and (min-height : 1023px)
and (max-height : 1367px)
and (orientation : portrait) {
  #menu {
    display: none;
  }

  #plushie2 {
    text-align: center;
    display: block;
    margin-top: 1vh;
    font-family: playfair;
    font-size: 4rem;
    color: #F5BA47;
  }

  #menu2 {
    display: block;
    text-align: center;
    height: 7vh;
    width: 100vw;
    z-index: 100;
  }

  .tabs1 {
    display: inline-block;
    font-family: callingcode;
    font-size: 2rem;
    color: white;
    padding-right: 10vw;
    }

  .buttons {
    display: inline-block;
    width: 3vh;
    height: 3vh;
    padding: 1.5vw;
    padding-bottom: 0;
    padding-top: 0;
  }

  .button {
    display: none;
  }

  .container {
    grid-template-columns: repeat(3, 1fr);
    height: 235vh;
    width: 100vw;
  }

  .starcontainer {
    grid-template-columns: repeat(3, 1fr);
    height: 235vh;
    width: 100vw;
    margin-top: -235vh;
  }

  .starburst {
    height: 17vh;
  }

  .images {
    height: 15vh;
  }

}
